
.common-loadinglayer
{
  z-index: 9999;
  /*width: 150px;*/

  height: 30px;
  _height: 40px;

  position: fixed;
  _position: absolute;

  bottom: 0;
  _bottom: auto;

  _top: expression( ( 0 - loading_navigation.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );

  left: 0;
  background-color: InfoBackground;
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 8px 0 10px;
  color: #777777;
  border: 1px solid #cccccc;
  white-space: nowrap;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
