
.common-notificator
{
  display: none; /* Display hidden by default */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 30px;
  float: left;
  z-index: 20000;

  /* IE Workarround*/
  _width: expression( eval(document.body.clientWidth) );
  _position: absolute;
  _top: expression( eval(document.body.scrollTop) );
  _left: expression( eval(document.body.scrollLeft) );

  font-family: verdana, tahoma, helvetica;
  font-size: 12px;
  background-color: black;
  opacity: 0.8;
  color: white;
  box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
}

.common-notificator_icon
{
  width: 40px;
  height: 40px;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
}

.common-notificator_text
{
  margin-right: 20px;
  padding: 5px;
  color: white;
}

.common-notificator_buttons
{
  width: 200px;
  float: right;
}

.common-notificator_close
{
  margin-right: 15px;
}

.common-notificator_close_btn
{
  padding: 5px 14px 5px 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #DDDDDD;
  cursor: pointer;
  white-space: nowrap;
  background: url( '#{$commonjs-images-path}/notificator/close.png' ) #222222 no-repeat 98% center;
  text-align: center;
  width: 70px;
  color: #FFFFFF;
}


/* Icons */
.common-notificator_icon_success
{
  background-image: url( '#{$commonjs-images-path}/notificator/success.png' );
}

.common-notificator_icon_error
{
  background-image: url( '#{$commonjs-images-path}/notificator/error.png' );
}

.common-notificator_icon_warning
{
  background-image: url( '#{$commonjs-images-path}/notificator/warning.png' );
}

.common-notificator_icon_info
{
  background-image: url( '#{$commonjs-images-path}/notificator/info.png' );
}

.common-notificator_icon_loading
{
  background-image: url( '#{$commonjs-images-path}/notificator/loading.png' );
}

.common-notificator_icon_appointment
{
  background-image: url( '#{$commonjs-images-path}/notificator/appointment.png' );
}
